<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>PORTAL_CONFIG_DIR</param-name>
		<param-value>/home/fergonco/b/java/fao/portal/demo/src/main/webapp/WEB-INF/default_config</param-value>
	</context-param>

	<resource-ref>
		<description>Application database</description>
		<res-ref-name>jdbc/app</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
