#logos {
	position: absolute;
	top: 0px;
	right: 20px;
	height: 96px;
	width: 128px;
	z-index: 1100;
	background: url(images/logos.png) no-repeat 0 0;
}

#banner {
	height: 92px;
	width: 100%;
	background: url(images/banner-background.jpg) repeat 0 0;
	background-color: #a0b397;
}

#flag {
	position: relative;
	top: 12px;
	left: 12px;
	width: 104px;
	height: 69px;
	z-index: 1100;
	background: url(images/flag.png) no-repeat 0 0;
}

#title {
	position: absolute;
	left: 130px;
	top: 28px;
	font-size: 28px;
	color: #fff;
}