@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.editable-layer-list-button {
	display: block;
	height: 16px;
	width: 16px;
	padding: 0;
	text-decoration: none;
}

.layer_edit_button {
	background: url("images/pencil.png") no-repeat;
}

.layer_newLayer_button {
	background: url("images/new-layer.png") no-repeat;
}

.layer_deleteLayer_button {
	background: url("images/delete-layer.png") no-repeat;
}

.layer_deleteGroup_button {
	background: url("images/delete-layer.png") no-repeat;
}

.root_group_placeholder {
	border: 2px dashed white;
	border-radius: 6px;
	padding: 5.5px;
	margin-top: 2px;
	color: white;
	text-align: right;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	background-color: rgba(255,255,255,0.2);
}

#layers_container {
	position: absolute;
	bottom: 33px;
	overflow: auto;
}

.layer_placeholder {
	height: 5px;
}

.group_placeholder {
	height: 5px;
}
