#legend_pane {
	padding: 2px;
}

#legend_pane_content {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

table.layer_legend {
	color: #000;
	width: 100%;
	padding-bottom: 10px;
	background-color: #fff;
}

table.layer_legend td {
	padding-right: 10px;
    background-color: #fff;
}

.legend_header {
	margin-bottom: 6px;
}

.legend_layer_name {
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

.data_source_link {
	font-size: 12px;
	right: 0px;
	color: #000;
	text-align: right;
	padding-left: 0px;
	margin-left: 10px;
}

.legend_image {
	top: 20px;
}

.data_source_link a {
	color: black;
}