.blue_button {
	background-color: #38c;
	margin-right: 10px;
	margin-top: 10px;
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	line-height: 12px;
	cursor: pointer;
}

.blue_button.selected {
	color: #fff;
}

.lang_button {
	float: right;
	margin-left: 20px;
}

#toolbar {
	/* for IE */
	/* filter:alpha(opacity=75); */
	/* CSS3 standard */
	/* opacity:0.75; */
	background-color: #000000;
	height: 50px;
	z-index: 2000;
	position: relative;
	padding-right: 10px;
}

#time_slider_pane {
	z-index: 2000;
	position: absolute;
	top: 8px;
	left: 220px;
	width: 180px;
	font-size: 60%;
	font-size: 11px;
	border: 1px solid #333;
	height: 30px;
	background-color: #456;
}