#time_slider_pane {
	z-index: 2000;
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 8px;
	width: 180px;
	font-size: 60%;
	font-size: 11px;
	border: 1px solid #333;
	height: 30px;
	background-color: #456;
}

#time_slider_label {
	color: #fff;
	margin-left: 10px;
	margin-top: 8px;
	font-size: 11px;
	float: left;
}

#time_slider {
	left: 100px;
	top: 10px;
	width: 60px;
	padding: 0;
	margin: 0;
}