<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.fao.unredd.AppContextListener</listener-class>
    </listener>
    
	<filter>
		<filter-name>lang-filter</filter-name>
		<filter-class>org.fao.unredd.portal.LangFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>lang-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>customization-servlet</servlet-name>
        <servlet-class>org.fao.unredd.portal.CustomizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customization-servlet</servlet-name>
        <url-pattern>/customization</url-pattern>
    </servlet-mapping>

    <!-- GeoSolution's Proxy Servlet -->
    <context-param>
        <param-name>proxyPropPath</param-name>
        <param-value>/proxy.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>HttpProxy</servlet-name>
        <servlet-class>it.geosolutions.httpproxy.HTTPProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpProxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
